.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Tangerine', cursive;
}